SPRING_DATASOURCE_URL=jdbc:postgresql://127.0.0.1:3306/db_name
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=pass
SERVER_PORT=8080
POSTGRES_DB=db_name
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
STATSCORE_CLIENT=2286
STATSCORE_SECRET=sbeIyhmdUGiiBIUZvr2EiobwBXOVhXGLr4k
